{% extends "zinnia/base.html" %}
{% load i18n %}

{% block meta-description %}{% trans "Tag list" %}{% endblock meta-description %}

{% block title %}{% trans "Tags" %} | {{ block.super }}{% endblock title%}

{% block body-class %}tag-list{% endblock body-class %}

{% block content %}
    <div class="row">
        <h1>{% trans "Tag list" %}</h1>
    </div>
    <div class="row no-border">
        <ul>
            {% for object in object_list %}
            <li>
                <a href="{% url 'zinnia:tag_detail' object %}"
                title="{% blocktrans with tag=object %}Show all entries tagged by {{ tag }}{% endblocktrans %}">{{ object }}</a>
                {% blocktrans count entry_count=object.count %}{{ entry_count }} entry{% plural %}{{ entry_count }} entries{% endblocktrans %}
            </li>
            {% empty %}
            <li>
            {% trans "No tags yet." %}
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}
