/**
* Ubuntu Developer Portal stylesheet
*
* A stylesheet containing site-specific styles
*
* @project Ubuntu Developer Portal
* @version 1.0
* @author Canonical Community Team
* @copyright 2011 Canonical Ltd.
*/

h2 img,
h3 img {
	vertical-align: middle;
	margin-right: 10px;
}

code, pre {
	text-align: left;
}

dd {
	margin-bottom: 10px;
}

/**
* @section header
*/

header.banner .logo-ubuntu span {
	padding-left: 117px;
}

.login,
.logout {
	max-width: 86px;	
}

.login > a,
.logout > a {
	width: 100%;
	text-overflow: ellipsis;
	float: left;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#box-search, .header-search {
	max-width: 150px;
}


/**
* @section box steps
*/

.box-steps {
	margin-bottom: 30px;
	border: 3px solid #dd4814;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
	border-radius: 4px;
		-moz-box-shadow: 0 3px 1px #e0e0e0;
		-webkit-box-shadow: 0 3px 1px #e0e0e0;
	box-shadow: 0 3px 1px #e0e0e0;
	display: inline-block;
}
.box-steps li {
	padding: 15px;
	float: left;
	width: 200px;
	border-right: 1px solid #dd4814;
	text-align: center;
	min-height: inherit;
	list-style-type: none !important;
	margin-bottom: 0px !important;
	margin-left: 0px !important;
}
.box-steps li.last {
	border: 0;
	width: 202px;
}
.box-steps img {
	margin-top: 10px;
	margin-bottom: 10px;
}
#main-content .box-steps h3 {
	font-size: 1.05em;
	border-top: none !important;
	border-bottom: 1px dotted #aea79f !important;
}
.box-steps p {
	text-align: left;
}
.box-steps a {
	color: #333;
}
.box-steps li:hover {
	background-color: #fcece7;
	cursor: pointer;
}
.box-steps li:hover span {
	background-color: #dd4814;
	color: #fff;
}
.box-steps li:hover a {
	color: #dd4814;
}

#main-content .box-steps li img.stepicon {
	float: none;
	margin: 0px;
	display: inline;
	height: 88px;
}

/* Blog styles */

.post-list .post {
	border-bottom: 1px dotted #888;
	padding-bottom: 40px !important;
}

.post-list .post:last-of-type {
	border-bottom: none;
}

#comments h2 {
	font-size: 1.5625em;
	font-weight: 300;
	line-height: 1;
	display: block;
	clear: both;
	padding: .625em 0 .625em 0;
	color: #AEA79F;
	border-width: 1px 0;
	border-style: solid;
	border-color: #D7D7D7;
	border-image: none;
}

#comments ol {
	margin: 0;
}

#comments li {
	border-bottom: 1px solid #d7d7d7;
}

#comments li:last-child {
	border-bottom: none;
}

#comments cite {
	float: left;
	clear: both;
	width: 100%;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
}

.post-date,
#comments time {
	font-size: 13px;
	margin-bottom: 0px;
	color: #AEA79F;
	float: left;
	width: 100%;
}
.image-wrap {
	position: relative;
	display: inline-block;
	max-width: 56px;
	margin-bottom: 20px;
	vertical-align: bottom;
	background-size: 100% 100%;
}

.image-wrap:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: ' ';
	background: url(../img/white-squircle.png) no-repeat;
	background-size: 100%;
}

/* Comments form */

#comments input,
#comments textarea {
	margin-bottom: 12px;
}

#comments input[type="url"] {
	border-radius: 2px;
	background: none repeat scroll 0% 0% #FFF;
	border: 1px solid #999;
	display: block;
	font-family: Ubuntu,Arial,"libra sans",sans-serif;
	font-size: 1em;
	font-weight: 300;
	padding: 0.695652em 0.869565em;
}

.row-step.step-one .step::after {
	content: none;
}

/* Secondary nav margin fix */
@media only screen and (min-width: 769px) {
    .nav-secondary ul {
	    display:table-cell;
    }
}

/* Used in Webapp-generator */

form#webappform input[type="url"] {
	-webkit-appearance: none;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	border: 1px solid #999;
	display: block;
	font-family: Ubuntu,Arial,"libra sans",sans-serif;
	font-size: 1em;
	font-weight: 300;
	padding: 0.6956522em 0.869565em
}

form#webappform .helptext {
	color: #888;
	padding: 5px;
	line-height: 2em;
	font-size: 90%;
}

form#webappform ul.errorlist {
	margin:0px;
	float:right;
}

form#webappform ul.errorlist li {
	top: 7px;
	font-size: 12px;
	right: -95px;
	padding: 2px 2px 2px 10px;
	background: none repeat scroll 0% 0% #DD4814;
	color: #FFF;
}
