/**
* Ubuntu Developer Portal stylesheet
*
* A stylesheet containing API doc styles
*
* @project Ubuntu Developer Portal
* @version 1.0
* @author Canonical Community Team
* @copyright 2015 Canonical Ltd.
*/


/* All selectors should start with .qdoc */

.qdoc .qmlitem table { margin-bottom: 18px; margin-top: 16px; }
.qdoc .qmlitem { margin-bottom: 20px; }
.qdoc .qmlitem table p { text-align: left; font-size:large; padding-left:5px; }
