{% extends "website_base.html" %}
{% load cms_tags sekizai_tags i18n menu_tags static %}

{% block title %}{% trans "Ubuntu developer portal" %}{% endblock %}
{% block logo_text %}{% trans "developer" %}{% endblock %}

{% block extrastyles %}
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'developer_portal/css/devportal.css' %}"/>
{% endblock extrastyles %}

{% block nav_primary_links %}
{% show_menu_below_id "home" 0 1 0 1000 "menu/menu_header_first_level.html" %}
{% endblock %}

{% block breadcrumb_links %}
{% show_breadcrumb 1 %}
{% endblock breadcrumb_links %}

{% block second_level_nav_links %}
{% show_sub_menu 1 %}
{% endblock second_level_nav_links %}

{% block hero %}{% endblock hero %}

{% block content %}{% endblock %}

{% block footer_lists %}
{% show_menu_below_id "home" 0 100 100 1000 "menu/menu_footer_first_level.html" %}
{% endblock footer_lists %}
{% block footer_inlines %}
<li>
	<h2><a href="http://ubuntu.com/download/">{% trans "Download" %}</a></h2>
                    <ul class="second-level-nav">
                        <li class="first"><a href="http://ubuntu.com/download">{% trans "Overview"  %}</a>
                        </li>
                        <li><a href="http://ubuntu.com/download/cloud">{% trans "Cloud" %}</a>
                        </li>
                        <li><a href="http://ubuntu.com/download/server">{% trans "Server" %}</a>
                        </li>
                        <li><a href="http://ubuntu.com/download/desktop">{% trans "Desktop" %}</a>
                        </li>
                        <li><a href="http://ubuntu.com/download/ubuntu-kylin">{% trans "Ubuntu Kylin" %}</a>
                        </li>
                        <li><a href="http://ubuntu.com/download/alternative-downloads">{% trans "Alternative downloads" %}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2><a href="http://ubuntu.com/support/">{% trans "Support" %}</a></h2>
                    <ul class="second-level-nav">
                        <li class="first"><a href="http://ubuntu.com/support">{% trans "Overview" %}</a>
                        </li>
                        <li><a href="http://www.ubuntu.com/usn/">{% trans "Security notices" %}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <h2><a href="http://ubuntu.com/about/">{% trans "About" %}</a></h2>
                    <ul class="second-level-nav">
                        <li><a href="http://ubuntu.com/about/about-ubuntu">{% trans "About Ubuntu" %}</a>
                        </li>
                        <li><a href="http://www.canonical.com/careers">{% trans "Careers" %}</a>
                        </li>
                        <li><a href="http://ubuntu.com/about/canonical-and-ubuntu">{% trans "Canonical and Ubuntu" %}</a>
                        </li>
                        <li><a accesskey="7" href="http://ubuntu.com/about/contact-us">{% trans "Contact us" %}</a>
                        </li>
                        <li><a accesskey="2" href="http://insights.ubuntu.com/feed/">{% trans "Canonical news feed" %}</a>
                        </li>
                    </ul>
                </li>
{% endblock footer_inlines %}
{% block footer_legal %}
       <p class="twelve-col">© 2015 Canonical Ltd. {% trans "Ubuntu and Canonical are registered trademarks of Canonical Ltd." %}</p>
        <ul class="inline clear">
            <li><a href="http://www.ubuntu.com/legal">{% trans "Legal information" %}</a>
            </li>
            <li><a href="https://bugs.launchpad.net/developer-ubuntu-com/">{% trans "Report a bug on this site" %}</a>
            </li>
        </ul>
        <span class="accessibility-aid"><a href="#">{% trans "Go to the top of the page" %}</a></span>
{% endblock %}

{% block closure %}
<script type='text/javascript' src='{% static "developer_portal/syntaxhighlighter3/scripts/shCore.js?ver=3.0.83"  %}c'></script>
<script type='text/javascript' src='{% static "developer_portal/syntaxhighlighter3/scripts/shAutoloader.js?ver=3.0.83c" %}'></script>
<script type='text/javascript'>
    (function(){
	    var corecss = document.createElement('link');
	    var themecss = document.createElement('link');
	    var corecssurl = "{% static "developer_portal/syntaxhighlighter3/styles/shCore.css?ver=3.0.83c" %}";
	    if ( corecss.setAttribute ) {
			    corecss.setAttribute( "rel", "stylesheet" );
			    corecss.setAttribute( "type", "text/css" );
			    corecss.setAttribute( "href", corecssurl );
	    } else {
			    corecss.rel = "stylesheet";
			    corecss.href = corecssurl;
	    }
	    document.getElementsByTagName("head")[0].insertBefore( corecss, document.getElementById("syntaxhighlighteranchor") );
	    var themecssurl = "{% static "developer_portal/syntaxhighlighter3/styles/shThemeDefault.css?ver=3.0.83c" %}";
	    if ( themecss.setAttribute ) {
			    themecss.setAttribute( "rel", "stylesheet" );
			    themecss.setAttribute( "type", "text/css" );
			    themecss.setAttribute( "href", themecssurl );
	    } else {
			    themecss.rel = "stylesheet";
			    themecss.href = themecssurl;
	    }
	    //document.getElementById("syntaxhighlighteranchor").appendChild(themecss);
	    document.getElementsByTagName("head")[0].insertBefore( themecss, document.getElementById("syntaxhighlighteranchor") );
    })();
    SyntaxHighlighter.config.strings.expandSource = '+ expand source';
    SyntaxHighlighter.config.strings.help = '?';
    SyntaxHighlighter.config.strings.alert = 'SyntaxHighlighter\n\n';
    SyntaxHighlighter.config.strings.noBrush = 'Can\'t find brush for: ';
    SyntaxHighlighter.config.strings.brushNotHtmlScript = 'Brush wasn\'t configured for html-script option: ';
    SyntaxHighlighter.defaults['pad-line-numbers'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.autoloader(
      'js jscript javascript  {% static "developer_portal/syntaxhighlighter3/scripts/" %}shBrushJScript.js',
      'c cpp                  {% static "developer_portal/syntaxhighlighter3/scripts/" %}shBrushCpp.js',
      'xml html               {% static "developer_portal/syntaxhighlighter3/scripts/" %}shBrushXml.js',
      'bash                   {% static "developer_portal/syntaxhighlighter3/scripts/" %}shBrushBash.js',
      'python                 {% static "developer_portal/syntaxhighlighter3/scripts/" %}shBrushPython.js'
    );
    SyntaxHighlighter.all();
</script>

{% endblock closure %}

