{% load cms_tags i18n static menu_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% block defaulthead %}

  {% block defaultmeta %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% endblock defaultmeta%}
  {% block extrameta %}{% endblock extrameta%}

  <title>{% block title %}Ubuntu developer{% endblock %}</title>

  {% block defaultstyles %}
  <link rel="shortcut icon" href="{{ ASSET_SERVER_URL }}dbf71c80-favicon.ico" type="image/x-icon" />
  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" media="all" href="{{ ASSET_SERVER_URL }}f53d8076-ubuntu-styles.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_SERVER_URL }}1a0a185a-styles.css" />
  <link rel="stylesheet" type="text/css" media="screen" href="{{ ASSET_SERVER_URL }}5ff660b1-global-responsive.css" />
  <link rel="stylesheet" type="text/css" media="print" href="{{ ASSET_SERVER_URL }}0df231d4-core-print.css" />
  {% endblock defaultstyles%}
  {%block extrastyles %}{% endblock extrastyles%}

  {% block defaultheadjs %}
  <!-- javascript -->
  <script src="{{ ASSET_SERVER_URL }}b0601acd-modernizr.2.7.1.js"></script>
  <script src="{{ ASSET_SERVER_URL }}2c8fd8c9-Imager.js"></script>
  {% endblock defaultheadjs %}

  {% endblock defaulthead %}
  {% block extrahead %}{% endblock %}

</head>

<body>

{% cms_toolbar %}

        {# Header with logo, top level navigation and search bar #}
        <header class="banner global" role="banner">
            {% block nav_primary %}
            <nav role="navigation" class="nav-primary nav-right">
                <div class="logo">
                    <a class="logo-ubuntu" href="/">
                        <img width="106" height="25" src="{{ ASSET_SERVER_URL }}c6679b95-logo-ubuntu-orange.svg" alt="" />
                        <span>{% block logo_text %}{% endblock %}</span>
                    </a>
                </div>

                <ul>
		 <li class="accessibility-aid"><a accesskey="s" href="#main-content">{% trans "Jump to content" %}</a></li>
                {% block nav_primary_links %}{% endblock nav_primary_links %}
		{% if user.is_authenticated %}
  		<li class="logout">
		    <a href="#">{{ user.first_name }}</a>
		    <ul class="second-level-nav">
			<li>
			    <a href="https://myapps.developer.ubuntu.com/dev/click-apps/">My Apps</a>
			<li>
			    <a href="/logout?next={{request.path}}">{% trans "Log out" %}</a>
			</li>
		    </ul>
		</li>
		{% else %}
		<li class="login">
		    <a href="/openid/login/?next={{request.path}}">{% trans "Log in" %}</a>
		</li>
		{% endif %}
                </ul>

                {% block search %}
                <form id="form-search" action="{% url 'search' %}" class="header-search">
                    <label for="edit-keys" class="accessibility-aid">{% trans 'Search' %}</label>
                    <input type="search" maxlength="255" name="q" id="search" class="form-text" placeholder="{% trans 'Search' %}" value="" />
                    <button type="submit"><img src="{{ ASSET_SERVER_URL }}2196e362-search-white.svg" alt="{% trans 'Search' %}" height="28" /></button>
                </form>
                {% endblock search %}
            </nav>
            {% endblock nav_primary %}
        </header>

        {# Wrapper with main content in a twelve column row, including secondary nav with breadcrumbs #}
        <div class="wrapper">
            {% block messages %}{% endblock %}
            <div id="main-content" class="inner-wrapper">

                {% block nav_secondary %}
                <nav role="navigation" class="nav-secondary clearfix open">
                    <ul class="breadcrumb">
                        {% block breadcrumb_links %}{% endblock breadcrumb_links %}
                    </ul>
                    <ul class="second-level-nav">
                        {% block second_level_nav_links %}{% endblock second_level_nav_links %}
                    </ul>
                </nav>
                {% endblock nav_secondary %}

                {% block content %}{% endblock %}

            </div><!-- div.inner-wrapper -->
        </div><!-- div.wrapper -->

        {# Footer #}
        {% block footer %}
        <footer class="global clearfix no-global">
    <div class="footer-c">
        <p class="top-link"><a href="#">Back to top</a>
        </p>
    </div>
    <nav id="main-navigation" role="navigation" class="clearfix">
        <div class="footer-a">
            <div class="clearfix">
                <ul>
		    {% block footer_lists %}{% endblock footer_lists %}
                </ul>
            </div>
        </div>
        <!-- /.footer-a -->
        <div class="footer-b inline-lists">
            <ul class="clearfix">
            <li>
            {% language_chooser "menu/menu_language_chooser.html" %}
            </li>
            {% block footer_inlines %}{% endblock footer_inlines %}
            </ul>
    </nav>

    <div class="legal clearfix has-cookie">
	{% block footer_legal %}{% endblock footer_legal %}
    </div>
    <!-- /.legal -->
</footer>
        {% endblock footer %}

    {% block closure %}{% endblock %}

<!-- Use this only until Modernizr fixes Opera Mini background-size detection -->
<script>
	var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1);
	if(isOperaMini) {
		var root = document.documentElement;
		root.className += " opera-mini";
	}
</script>

<script>
	if(!core){ var core = {}; }
	core.globalPrepend = 'body';
</script>
<script src="{{ ASSET_SERVER_URL }}40d25181-yui-combined.min.js"></script>
<script src="{{ ASSET_SERVER_URL }}bdd03093-global.js"></script>

<script src="{{ ASSET_SERVER_URL }}8e7aa35a-core.js"></script>
<script src="{{ ASSET_SERVER_URL }}bdd03093-global.js"></script>
<script src="{{ ASSET_SERVER_URL }}ea5f3f25-scratch.js"></script>
<script src="{{ ASSET_SERVER_URL }}f5bf3854-respond.min.js"></script>

<script>
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>

</html>
