{% load i18n static text_extras %}

<div class="no-border">
    {% for snap in gadget_snap_list %}
        {% ifchanged snap.release.all|first %}
            <h4>Available on release: {{ snap.release.all|first }}</h4>
        {% endifchanged %}

        {% if gadget_snap_list|index:snap|divisibleby:1 %}
            <div class="left twelve-col last-col box">
        {% else %}
            <div class="left twelve-col box">
        {% endif %}
        {% if snap.icon_url %}
            <div class="two-col no-margin-bottom">
                <img src="{{ snap.icon_url }}"/>
            </div>
        {% else %}
            {% with 0|randint:10|string as rand %}
                {% with "img/boards/noboard-"|add:rand|add:".png" as noboard %}
                    <div class="two-col no-margin-bottom">
                        <img src="{% static noboard %}"/>
                    </div>
                {% endwith %}
            {% endwith %}
        {% endif %}
        <div class="eight-col">

        <h3>
        {% with snap_name=snap.title|default_if_none:snap.name %}
	          {{ snap_name|style_snap_name }}             {% if snap.publisher == "Canonical" %}<img src="{% static "img/official.svg" %}" title="Officially supported" alt="Officially supported" style="width:5%;"/>            {% endif %}
        {% endwith %}
        </h3>
            {% if snap.description|length > 180 %}
                <p>{{ snap.description|truncatechars:180 }}</p>
            {% else %}
                <p>{% autoescape off %}{{ snap.description|html_links }}{% endautoescape %}</p>
            {% endif %}

          </div>

            
            <div class="ten-col no-margin-bottom">


            </div>
        </div>
    {% endfor %}
</div>
