{% extends "cms_page_base.html" %}
{% load cms_tags %}

{# We're not showing the secondary navigation on a landing page #}
{% block nav_secondary %}{% endblock %}

{% block content %}

{% block hero %}
<div id="hero" class="row row-hero equal-height">
    <div class="seven-col">
        {% with True as no_row %}{% placeholder hero_content %}{% endwith %}
    </div>
    <div class="five-col last-col align-center align-vertically">
        {% placeholder hero_image %}
    </div>
</div>
{% endblock hero %}

  {% placeholder page_content %}
{% endblock %}
