{% extends "base.html" %}

{% load i18n %}

{% block page_name %}Login Failure{%endblock %}

{% block sub_nav %}{% endblock %}

{% block content %}

    <h2>{{message|safe}}</h2>

    {% if exception %}
    <p>{{exception.message|safe}}</p>
    {% endif %}

    {% if solution %}
    <p>{{solution|safe}}</p>
    {% endif %}

    <p>{% trans "If you continue to experience problems with the developer site, please <a href='https://bugs.launchpad.net/ubuntudeveloperportal'>report it" %}</a>
    </p>
{% endblock %}
