{% extends "cms_page_base.html" %}
{% load cms_tags %}
{% block nav_secondary %}
{% endblock %}
{% block content %}
<div class="row last-col row--intro no-border text-center no-padding-bottom">
    <div class="strip-inner-wrapper">
        <div class="ubuntu-intro">
            &nbsp;
        </div>
        <div class="eight-col">
            <h3 class="left">Ubuntu Core's<br />
            <strong>developer</strong> tour</h3>
        </div>
        <div class="four-col right last-col box" style="color: black;">
            Completion time: 20 min
        </div>
    </div>
</div>

<div class="row equal-height row-grey" style="padding:0px;padding-top:20px;padding-bottom:20px;">

    <div class="one-col no-margin-bottom">
        &nbsp;
    </div>

    <div class="two-col center dot no-margin-bottom" style="text-align: center;"><a href="">
            <div class="round-nav-circle">
                1
            </div>
            <p>Pick up device</p>
        </a>
        <p class="eta">1 min</p>
    </div>

    <div class="two-col center dot no-margin-bottom" style="text-align: center;"><a href="">
            <div class="round-nav-circle">
                2
            </div>
            <p>Setup your board</p>
        </a>
        <p class="eta">7 min</p>
    </div>

    <div class="two-col center dot no-margin-bottom" style="text-align: center;"><a href="">
            <div class="round-nav-circle">
                3
            </div>
            <p>Get familiar with your new install</p>
        </a>
        <p class="eta">5 min</p>
    </div>

    <div class="two-col center dot no-margin-bottom" style="text-align: center;"><a href="">
            <div class="round-nav-circle">
                4
            </div>
            <p>Create your first snap</p>
        </a>
        <p class="eta">7 min</p>
    </div>

    <div class="two-col center dot last-dot no-margin-bottom" style="text-align: center;"><a href="">
            <div class="round-nav-circle">
                5
            </div>
            <p>Fireworks!</p>
        </a>
    </div>

    <div class="one-col last-col no-margin-bottom">
        &nbsp;
    </div>

    <div class="round-button" id="button-container-left">
        <div class="round-button-circle">
            <a id="prev" href="#" class="round-button">&lsaquo;</a>
        </div>
    </div>

    <div class="round-button" id="button-container-right">
        <div class="round-button-circle">
            <a id="next" href="#" class="round-button">&rsaquo;</a>
        </div>
    </div>
</div>

{% placeholder page_content %}

<script>
    var path = "{{ request.path }}";
    var nextBtn = document.getElementById('next');

    // Remove next button on last page
    if (path.includes("/step5")) {
         document.getElementById("button-container-right").style.display = "none";
    } 
    else {
        document.getElementById("button-container-right").style.display = "block";
    }

    // Get cookies
    getChoicesString();

    // Setup navigation dots
    setNav()

    // Dynamically update all nav urls to match user choices
    if (!path.includes("/step")) {
        var atags = document.getElementsByTagName('a');
        for (var i = 0, length = atags.length; i < length; i++) { 
            atags[i].addEventListener('mouseover', function () {
                getChoicesString();
                setNav();
            });
            atags[i].addEventListener('mousedown', function () {
                getChoicesString();
                setNav();
            });
        }
    }

    function setNav() {
        var dots = document.getElementsByClassName("dot");
        for (var i = 0, length = dots.length; i < length; i++) {
            dots[i].firstChild.href = createURLForDot(i + 1)
            var short_path = path.split("/snappy/get-started/")[1];
            var short_url = dots[i].firstChild.href.split("/snappy/get-started/")[1];
            if (short_path == short_url.replace("#", "")) {
                addClass(dots[i].firstChild.children[0], "here");
                addClass(dots[i].firstChild.children[1], "here");
            } else {
                removeClass(dots[i].firstChild.children[0], "here");
                removeClass(dots[i].firstChild.children[1], "here");
            }
        }
        if (path.includes("/step")) {
            page = path.split("/").reverse()[1];
            current_step = page.split("-")[0].slice(-1);
            }
        else {
            current_step = 1;
        }
        nextBtn.href = createURLForDot(parseInt(current_step)+1)
    }

    function createURLForDot(position) {
        var host = getCookie("snappy-tour-host");
        var version = getCookie("snappy-tour-version");
        var target = getCookie("snappy-tour-target");
        var url = "";
        if (position == 1) {
            if (path.includes("/step")) {
                url = "../..";
            }
            else {
                url += "#";
            }
        }
	else if (position == 2) {
            if (path.includes("/step")) {
                url = "../step" + position + "-setup-" + target + "-" + host + "/";
            }
            else {
                url = version + "/step" + position + "-setup-" + target + "-" + host + "/";
            }
        }
	else if (position == 3) {
            if (path.includes("/step")) {
                url = "../step" + position + "-get-familiar/";
            }
            else {
                url = version + "/step" + position + "-get-familiar/";
            }
        }
	else if (position == 4) {
            if (path.includes("/step")) {
                url = "../step" + position + "-first-snap/";
            }
            else {
                url = version + "/step" + position + "-first-snap/";
            }
        }
	else {
            if (path.includes("/step")) {
                url = "../step" + position + "-further-readings/";
            }
            else {
                url = version + "/step" + position + "-further-readings/";
            }
        }
        return url;
    }

    function getChoicesString() {
        if (path.includes("/step")) {
            page = path.split("/").reverse()[1];
            current_step = page.split("-")[0];
            next_step = current_step.replace(/(\d+)/, function () {
                return arguments[1] * 1 + 1;
            });
        }
        else {
            var step = "step2";
            var host_item = document.getElementsByName('host');
            var version_item = document.getElementsByName('version')[0].options;
            var target_item = document.getElementsByName('target');

            var version = version_item[version_item.selectedIndex].value;

            for (var i = 0, length = host_item.length; i < length; i++) {
                if (host_item[i].checked) {
                    var host = host_item[i].value;
                    break;
                }
            }

            for (var i = 0, length = target_item.length; i < length; i++) {
                if (target_item[i].checked) {
                    var target = target_item[i].value;
                    break;
                }
            }
            setCookie("snappy-tour-version", version);
            setCookie("snappy-tour-host", host);
            setCookie("snappy-tour-target", target);
        }
    }

    // Utils

    function setCookie(cname, cvalue) {
        document.cookie = cname + "=" + cvalue + ";";
    }

    function getCookie(cname) {
        var name = cname + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) == ' ') c = c.substring(1);
            if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
        }
        return "";
    }

    function hasClass(el, className) {
      if (el.classList)
        return el.classList.contains(className);
      else
        return !!el.className.match(new RegExp('(\\s|^)' + className + '(\\s|$)'));
    }

    function addClass(el, className) {
      if (el.classList)
        el.classList.add(className);
      else if (!hasClass(el, className)) el.className += " " + className;
    }

    function removeClass(el, className) {
      if (el.classList)
        el.classList.remove(className);
      else if (hasClass(el, className)) {
        var reg = new RegExp('(\\s|^)' + className + '(\\s|$)');
        el.className=el.className.replace(reg, ' ');
      }
    }
</script>
<style>
#button-container-left {
	position: absolute;
	display:none;
    top: 105px;
    left:-24px;
}

#button-container-right {
	position: absolute;
	display:none;
    top: 105px;
    right:-24px;
}

.round-button {
	width:64px;

}
.round-button-circle {
	width: 100%;
	height:0;
	padding-bottom: 100%;
    border-radius: 50%;
	border:0px solid;
    overflow:hidden;
    
    background: #dd4814; 
    box-shadow: 0 0 10px gray;
}
.round-button-circle:hover {
    background: #dd4814;
}
.round-button a {
    display: block;
    float: left;
    width: 100%;
    padding-top: 50%;
    padding-bottom: 50%;
    line-height: 3em;
    margin-top: -1.57em;
    text-align: center;
    color: #e2eaf3;
    font-size: 4em;
    text-decoration: none;
    padding-left: 0.02em;
}
.dot:before {
    content: '';
    position: absolute;
    bottom: 73%;
    width: 85%;
    height: 0;
    line-height: 0;
    border-bottom: 2px dotted grey;
    float: right;
    left: 65%;
}
.last-dot:before {
    width: 0;
}
.dot a {
    color: #333;
    text-decoration: none;
}
p.here {
    font-weight:400;
}
.eta {
    position: absolute;
    top: 0px;
    right: -20%;
}
.round-nav-circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid #333;
    overflow: hidden;
    background: transparent;
    align-content: center;
    line-height: 30px;
    font-weight: 400;
    font-size: 1.2em;
    margin: auto;
    margin-bottom: 8px;
    margin-top:8px;
}
.round-nav-circle.here {
    background: #dd4814;
    color:#fff;
}
</style>
{% endblock %}
{% block footer %}
{% endblock %}

