{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="row">
    <h2>{% trans "Create your Webapp package" %}</h2>
    <div class="six-col append-one">
        <form id="webappform" action="{% url 'webapp_creator.views.webapp' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ webapp_form.as_p }}
        <input type="submit" value='{% trans "Submit" %}' />
        </form>
    </div>
    <div class="five-col last-col">
        <h3>{% trans "A first step into your Ubuntu developer adventure" %}</h3>
        <p>{% trans "This form generates simple Webapps packages ready to test on your device and upload to the Ubuntu store." %}</p>
        <h4>E.g. HTML5 games, embedded websites...</h4>
        <ul class="inline-icons" style="margin-bottom:0px;">
            <li><a href="https://appstore.bhdouglass.com/app/com.dailymotion.webapp" title="Dailymotion"><img src="{% static "developer_portal/img/apps/dailymotion.png" %}"></a></li>
            <li><a href="https://appstore.bhdouglass.com/app/onefootball.pcapeluto" title="Onefootball"><img src="{% static "developer_portal/img/apps/onefootball.png" %}"></a></li>
            <li><a href="https://appstore.bhdouglass.com/app/sandtrap.flexiondotorg" title="Sand Trap"><img src="{% static "developer_portal/img/apps/sandtrap.png" %}"></a></li>
            <li><a href="https://appstore.bhdouglass.com/app/com.grooveshark.webapp" title="Grooveshark"><img src="{% static "developer_portal/img/apps/grooveshark.png" %}"></a></li>
            <li><a href="https://appstore.bhdouglass.com/app/com.ubuntu.developer.mreese.trello" title="Trello"><img src="{% static "developer_portal/img/apps/trello.png" %}"></a></li>
            <li><a href="https://appstore.bhdouglass.com/app/imgur.canonicalpartners" title="Imgur"><img src="{% static "developer_portal/img/apps/imgur.png" %}"></a></li>
        </ul>
        <ul class="list-ubuntu">
            <li><a href="http://askubuntu.com/questions/603068/having-generated-a-webapp-with-the-generator-how-do-i-test-my-click-on-the-devi">{% trans "How to test a click package on your device ›" %}</a></li>
            <li><a href="https://developer.ubuntu.com/publish/">{% trans "How to publish an app to the store ›" %}</a></li>
        </ul>
    </div>
    <div class="five-col last-col" style="margin-top:24px;">
        <h3>{% trans "Embrace QML native apps" %}</h3>
        <p>{% trans "For your next project, learn how to create stylish, powerful and content-heavy applications with the Ubuntu SDK." %}</p>
        <h4>E.g. messaging clients, games, content managers...</h4>
        <ul class="inline-icons" style="margin-bottom:0px;">
            <li><a href="https://appstore.bhdouglass.com/app/com.ubuntu.telegram" title="Telegram"><img src="{% static "developer_portal/img/apps/telegram.png" %}"></a></li>
            <li><a href="https://wiki.ubuntu.com/Touch/CoreApps/Music" title="Music"><img src="{% static "developer_portal/img/apps/music.png" %}"></a></li>
            <li><a href="https://appstore.bhdouglass.com/app/com.ubuntu.developer.mzanetti.machines-vs-machines" title="Machines vs. Machines"><img src="{% static "developer_portal/img/apps/machinesvsmachines.png" %}"></a></li>
            <li><a href="https://appstore.bhdouglass.com/app/com.mikeasoft.podbird" title="Podbird"><img src="{% static "developer_portal/img/apps/podbird.png" %}"></a></li>
            <li><a href="https://appstore.bhdouglass.com/app/com.ubuntu.developer.turan.mahmudov.musicdownloader" title="Grooveshark Manager"><img src="{% static "developer_portal/img/apps/groovesharkmanager.png" %}"></a></li>
            <li><a href="https://appstore.bhdouglass.com/app/com.ubuntu.developer.mhall119.ureadit" title="uReadIt"><img src="{% static "developer_portal/img/apps/ureadit.png" %}"></a></li>
        </ul>
        <ul class="list-ubuntu">
            <li><a href="https://developer.ubuntu.com/en/apps/sdk/">{% trans "Get started with the Ubuntu SDK ›" %}</a></li>
        </ul>
    </div>
</div>
{% endblock content %}
