{% load cms_tags sekizai_tags i18n static assets menu_tags %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  {% block defaulthead %}
  
  {% block defaultmeta %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% endblock defaultmeta%}
  {% block extrameta %}{% endblock extrameta%}

  <title>{% block title %}Ubuntu website{% endblock %}</title>

  {% block defaultstyles %}
  <link rel="shortcut icon" href="{% assets 'sites/ubuntu/latest/u/img/favicon.ico' %}" type="image/x-icon" />
  <!-- stylesheets -->
  <link rel="stylesheet" type="text/css" media="all" href="{% assets 'sites/guidelines/css/responsive/latest/ubuntu-styles.css' %}"/>
  <link rel="stylesheet" type="text/css" media="screen" href="{% assets 'sites/ubuntu/latest/u/css/styles.css' %}" />
  <link rel="stylesheet" type="text/css" media="screen" href="{% assets 'sites/ubuntu/latest/u/css/beta/global-responsive.css' %}" />
  <link rel="stylesheet" type="text/css" media="print" href="{% assets 'sites/ubuntu/latest/u/css/core-print.css' %}" />
  {% endblock defaultstyles%}
  {%block extrastyles %}{% endblock extrastyles%}

  {% block defaultheadjs %}
  <!-- javascript -->
  <script src="{% assets 'sites/ubuntu/latest/u/js/plugins/modernizr.2.7.1.js' %}"></script>
  <script src="{% assets 'sites/ubuntu/latest/u/js/plugins/Imager.js' %}"></script>
  <script>var website_assets="{% assets 'sites/ubuntu/latest/u' %}";</script>
  {% endblock defaultheadjs %}
 
  {% endblock defaulthead %}
  {% block extrahead %}{% endblock %}
  {% render_block "css" %}

    <script type="text/javascript">
    if(window.location.href.indexOf("cn.developer.ubuntu.com") == -1){
    window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var n=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(n?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(a,o);for(var r=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["clearEventProperties","identify","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=r(p[c])};
    heap.load("3280028620");
    }
  </script>

</head>

<body>

<!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-K9KCMZ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>if(window.location.href.indexOf("cn.developer.ubuntu.com") == -1){
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-K9KCMZ');
    }</script>
<!-- End Google Tag Manager -->

{% cms_toolbar %}

        {# Header with logo, top level navigation and search bar #}
        <header class="banner global" role="banner">
            {% block nav_primary %}
            <nav role="navigation" class="nav-primary nav-right">
                <div class="logo">
                    <a class="logo-ubuntu" href="/">
                        <img width="106" height="25" src="{% assets 'sites/ubuntu/latest/u/img/logos/logo-ubuntu-orange.svg' %}" alt="" />
                        <span>{% block logo_text %}{% endblock %}</span>
                    </a>
                </div>

                <ul>
		 <li class="accessibility-aid"><a accesskey="s" href="#main-content">{% trans "Jump to content" %}</a></li>
                {% block nav_primary_links %}{% endblock nav_primary_links %}
		{% if user.is_authenticated %}
  		<li class="logout">
		    <a href="#">{{ user.first_name|default:user.email }}</a>
		    <ul class="second-level-nav">
			<li>
			    <a href="https://myapps.developer.ubuntu.com/">My Apps</a>
			</li>
			<li>
			    <a href="/logout?next={{request.path}}"">{% trans "Log out" %}</a>
			</li>
		    </ul>
		</li>
		{% else %}
		<li class="login">
		    <a href="https://myapps.developer.ubuntu.com/">{% trans "My Apps" %}</a>
		</li>		
		{% endif %}
                </ul>

                {% block search %}
                <form id="form-search" action="{% url 'search' %}" class="header-search">
                    <label for="edit-keys" class="accessibility-aid">{% trans 'Search' %}</label>
                    <input type="search" maxlength="255" name="q" id="search" class="form-text" placeholder="{% trans 'Search' %}" value="" />
                    <button type="submit"><img src="{% assets 'sites/ubuntu/latest/u/img/search-white.svg' %}" alt="{% trans 'Search' %}" height="28" /></button>
                </form>
                {% endblock search %}
            </nav>
            {% endblock nav_primary %}
        </header>

        {# Wrapper with main content in a twelve column row, including secondary nav with breadcrumbs #}
        <div class="wrapper">
            {% block messages %}{% endblock %}
            <div id="main-content" class="inner-wrapper">

                {% block nav_secondary %}
                <nav role="navigation" class="nav-secondary clearfix open">
                    <ul class="breadcrumb">
                        {% block breadcrumb_links %}{% endblock breadcrumb_links %}
                    </ul>
                    <ul class="second-level-nav">
                        {% block second_level_nav_links %}{% endblock second_level_nav_links %}
                    </ul>
                </nav>
                {% endblock nav_secondary %}

                {% block content %}{% endblock %}

            </div><!-- div.inner-wrapper -->
        </div><!-- div.wrapper -->

        {# Footer #}
        {% block footer %}
        <footer class="global clearfix no-global">
    <div class="footer-c">
        <p class="top-link"><a href="#">{% trans "Back to top" %}</a>
        </p>
    </div>
    <nav id="main-navigation" role="navigation" class="clearfix">
        <div class="footer-a">
            <div class="clearfix">
                <ul>
		    {% block footer_lists %}{% endblock footer_lists %}
                </ul>
            </div>
        </div>
        <!-- /.footer-a -->
        <div class="footer-b inline-lists">
            <ul class="clearfix">
            <li>
            {% language_chooser "menu/menu_language_chooser.html" %}
            </li>
            {% block footer_inlines %}{% endblock footer_inlines %}
            </ul>
    </nav>

    <div class="legal clearfix has-cookie">
	{% block footer_legal %}{% endblock footer_legal %}
    </div>
    <!-- /.legal -->
</footer>
        {% endblock footer %}

    {% block closure %}{% endblock %}
    {% render_block "js" %}

<!-- Use this only until Modernizr fixes Opera Mini background-size detection -->
<script>
	var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1);
	if(isOperaMini) {
		var root = document.documentElement;
		root.className += " opera-mini";
	}
</script>

<script>
	if(!core){ var core = {}; }
	core.globalPrepend = 'body';
</script>
<script src="{% assets 'sites/ubuntu/latest/u/js/plugins/yui-combined.min.js' %}"></script>
<script src="{% assets 'sites/ubuntu/latest/u/js/global.js' %}"></script>

<script src="{% assets 'sites/guidelines/js/responsive/core.js' %}"></script>
<script src="{% assets 'sites/ubuntu/latest/u/js/global.js' %}"></script>
<script src="{% assets 'sites/ubuntu/latest/u/js/scratch.js' %}"></script>
<script src="{% assets 'sites/ubuntu/latest/u/js/plugins/respond.min.js' %}"></script>

<script type="text/javascript">
    var _gaq = _gaq || [];
      
    /* Save to developer.ubuntu.com profile */	
    _gaq.push(['_setAccount', 'UA-1018242-33']);
    _gaq.push(['_setDomainName', '.ubuntu.com']);
    _gaq.push(['_trackPageview']);

    /* Save to www.ubuntu.com profile */	
    _gaq.push(['b._setAccount', 'UA-1018242-4']);
    _gaq.push(['b._setDomainName', '.ubuntu.com']);
    _gaq.push(['b._trackPageview']);

    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>

</body>

</html>
