{% load menu_tags i18n %}

{% for child in children %}
<li>
	<a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" class="{% if child.selected or child.ancestor %}active{% endif %}">{{ child.get_menu_title }}</a>
	{% if child.children %}
	<ul class="second-level-nav">
    	<li class="first{% if child.selected or child.ancestor %} active{% endif %}"><a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}" >{% trans "Overview" %}</a></li>
		{% show_menu from_level to_level extra_inactive extra_active "menu/menu_header_second_level.html" "" "" child %}
	</ul>
	{% endif %}
</li>
{% endfor %}
