[Desktop Entry]
Name={displayname}
Comment=Webapp for {domain}
Type=Application
Icon={appicon}
Exec=webapp-container {container_options} --webappUrlPatterns=https?://{domain}/* {url}
Terminal=false
X-Ubuntu-Touch=true

Name[en_US]={appname}.desktop
